.data {}
.data-col {
    -fx-padding: 0 0 20px 20px;
    -fx-pref-width: 400px;
    -fx-background-color: #F1F1F1;
}
.header {
    -fx-font-size: 24px;
    -fx-padding: 20px 0px 20px 20px; /* top, right, bottom, left */
    -fx-font-weight: bolder;
}
.col-label {
    -fx-padding: 0 20px 0 20px;
    -fx-pref-width: 180px;
    -fx-font-size: 14px;
}
#algoSelect {
    -fx-pref-width: 150px;
}
#algoSelect .context-menu {
    -fx-pref-width: 150px;
}
.memory-box {}
.memory-fields {
    -fx-pref-width: 150px;
}
.memory-k {
    -fx-font-size: 17px;
    -fx-padding: 0 0 0 5px;
}
.box {
    -fx-padding: 20px 0 0 0;
}

/* Col 2 */
#processID {
    -fx-pref-width: 150px;
}
#processID .context-menu {
    -fx-pref-width: 150px;
}
.process-fields {
    -fx-pref-width: 150px;
}
.process-k {
    -fx-font-size: 17px;
    -fx-padding: 0 0 0 5px;
}

/* Col 3 */
.mem-btn {
    -fx-pref-width: 360px;
}
.memory-field-col {
    -fx-pref-width: 50px;
    -fx-font-size: 20px;
    -fx-background-color: #F1F1F1;
    -fx-padding: 200px 0 0 15px;
    -fx-font-weight: bold;
}

/* Memory Manager Col */
.size-layout {}
.block-layout {
    -fx-background-color: #ffc100;
    -fx-pref-width: 100px;
}
.size-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.process-label {
    -fx-background-color: magenta;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-style: hidden hidden solid hidden;
}